html {
    width: 100%;
    height: 100%;
}

body {
    background-color: darkgray;
    overflow-x: hidden;
}

/* Write */
.write {
    background-color: white;
    display: flex;
}

.write form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 10%;
    width: 100%;
    gap: 1.5%;
}

.toolbox {
    display: inline;
    width: 34%;
    height: 100vh;
    background: gray;
}

.category {
    display: flex;
}

.catebtn {
    margin-left: 2px;
}

.weatherset div {
    margin-bottom: 6px;
    font-size: 11px;
}

.weatherinfo {
    display: none;
}

.submitbtn {
    margin-top: 14px;
}

/*Myarticle*/
.top-nav {
    color: white;
    height: 50px;
    background-color: #1abc9c;
    line-height: 50px;
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*position: fixed;*/
}

.padding {
    padding: 0 8%;
}

img[src='/img/avatar.jpg'] {
    border-radius: 100%;
}

.commentInput {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
}

.label {
    background: #1abc9c;
    color: white;
    border-radius: 20px;
    padding: 0 10px;
    font-size: 13px;
}

.gallery-image {
    width: 100px;
    height: 100px;
}

.Setting li {
    border-bottom: solid 1px lightgrey;
    height: 50px;
    line-height: 50px;
    display: flex;
    justify-content: space-between;
}

.subinfo1 {
    padding-left: 6%;
}

.subinfo2 {
    padding-right: 6%;
}

.login-form{
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register {
    /*padding: 0 8%;*/
    background-color: white;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

