html {
    width: 100%;
    height: 100%;
}

body {
    background-color: darkgray;
    overflow-x: hidden;
}

ul {
    list-style: none;
    padding: 0;
}

.left-nav {
    position: fixed;
    background-color: white;
    float: left;
}

.left-nav li{
    border: solid 1px lightgrey;
    width: 10vw;
    height: 6vh;
    line-height: 6vh;
    text-align: center;
    font-size: 16px;
}

.background {
    background-color: white;
    width: 100%;
    height: 100vh;
}

.background2 {
    background-color: white;
    width: 100%;
    height: 100%;
}

/* Write */
.write {
    background-color: white;
    display: flex;
}

.write form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 10%;
    width: 100%;
    gap: 1.5%;
}

.writeqna {
    display: flex;
    background-color: white;
    height: 100vh;
    width: 100vw;
}

.writeqna form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: -20% 10% 0;
    width: 100%;
    gap: 1.5%;
}

.toolbox {
    display: inline;
    width: 34%;
    height: 100vh;
    background: gray;
}

.category {
    display: flex;
}

.catebtn {
    margin-left: 2px;
}

.weatherset div {
    margin-bottom: 6px;
    font-size: 11px;
}

.weatherinfo {
    display: none;
}

.submitbtn {
    margin-top: 14px;
}

/*Myarticle*/
.top-nav {
    color: white;
    height: 50px;
    background-color: #1abc9c;
    line-height: 50px;
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*position: fixed;*/
}

.padding {
    padding: 0 8%;
}

img[src='/img/avatar.jpg'] {
    border-radius: 100%;
}

.commentInput {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
}

.label {
    background: #1abc9c;
    color: white;
    border-radius: 20px;
    padding: 0 10px;
    font-size: 13px;
}

.gallery-image {
    width: 100px;
    height: 100px;
}

.Setting li {
    border-bottom: solid 1px lightgrey;
    height: 50px;
    line-height: 50px;
    display: flex;
    justify-content: space-between;
}

.subinfo1 {
    padding-left: 6%;
}

.subinfo2 {
    padding-right: 6%;
}

.login-form{
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register {
    /*padding: 0 8%;*/
    background-color: white;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.showWeather {
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2%;
}

/* plantdetail */
.content {
    line-height: 1.5;
    text-align: justify;
    margin-top: 4px;
}

.label2 {
    background: #1abc9c;
    color: white;
    border-radius: 20px;
    padding: 2px 24px;
    font-size: 14px;
    margin-right: 8px;
}

.label3 {
    background: #1abc9c;
    color: white;
    border-radius: 20px;
    padding: 2px 36px;
    font-size: 14px;
    margin-right: 12px;
}

.category-list div {
    height: 50px;
    line-height: 50px;
}

.category-list span {
    font-size: 12px;
    color: gray;
}

.category-list span:last-child {
    color: red;
    margin-left: 12px;
}

/*WriteCollection*/
.a-input{
    display: flex;
    height: 6vh;
}

.label4 {
    background: #1abc9c;
    color: white;
    border-radius: 20px;
    padding: 2px;
    font-size: 14px;
    margin-right: 12px;
    width: 80px;
    height: 30px;
    text-align: center;
}